Xft.antialias: 1
Xft.autohint:  0
Xft.dpi:       96
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

URxvt*font: xft:Sauce Code Powerline:regular:size=9,xft:droidsansjapanese:size=9,xft:dejavusansmono:size=9
URxvt*boldFont: xft:Sauce Code Powerline:bold:size=9,xft:droidsansjapanese:bold:size=9,xft:dejavusansmono:bold:size=9
URxvt*italicFont: xft:Sauce Code Powerline:italic:size=9,xft:droidsansjapanese:italic:size=9,xft:dejavusansmono:italic:size=9
URxvt*boldItalicFont: xft:Sauce Code Powerline:bold:italic:size=9,xft:droidsansjapanese:bold:italic:size=9,xft:dejavusansmono:bold:italic:size=9

Emacs.font: Sauce Code Powerline-9

URxvt*scrollBar: false
URxvt*intensityStyles: false
URxvt*letterSpace: -2
URxvt*modifier: alt
URxvt*perl-ext-common: default,matcher
URxvt*matcher.button: 1
URxvt*url-launcher: qutebrowser

#define base00 #101212
#define base01 #222524
#define base02 #343837
#define base03 #474d4b
#define base04 #727977
#define base05 #8b9190
#define base06 #a7acab
#define base07 #c8cccb
#define base08 #e66789
#define base09 #e68567
#define base0A #e6c467
#define base0B #89e667
#define base0C #67e6c4
#define base0D #6789e6
#define base0E #c467e6
#define base0F #e667c8

*.background:             base00
*.foreground:             base04
*.fadeColor:              base00
*.cursorColor:            base05
*.pointerColorBackground: base02
*.pointerColorForeground: base04

*.scrollColor:            base05
*.highlightColor:         base02
*.highlightTextColor:     base04

*.color0:                 base00
*.color1:                 base08
*.color2:                 base0B
*.color3:                 base0A
*.color4:                 base0D
*.color5:                 base0E
*.color6:                 base0C
*.color7:                 base05

*.color8:                 base03
*.color9:                 base08
*.color10:                base0B
*.color11:                base0A
*.color12:                base0D
*.color13:                base0E
*.color14:                base0C
*.color15:                base07

*.color16:                base09
*.color17:                base0F
*.color18:                base01
*.color19:                base02
*.color20:                base04
*.color21:                base06
